.coordinates {
    font-size: 15px;
    margin-top: 5px;
}

.coordinates:hover {
    background-color: black;

    background-color: rgb(48, 113, 252);
    cursor: pointer;
    border-radius: 15px;

}

.coordinates p {
    font-size: larger;

  }

