.coordinates {
    font-size: 15px;
    margin-top: 5px;
}

.coordinates:hover {
    background-color: black;

    background-color: #5d11b7;
    cursor: pointer;
    border-radius: 15px;

}
.coordinates p {
    font-size: larger;

  }

