.earthquakes {
    width: 100%;
    padding: 0;
    z-index: 1000;
}

.earthquake {
    font-size: 17px;
    margin-top: 17px;
    padding: 5px;
}


.earthquake p {
    display: inline;
    margin: 10px;

}

.earthquake p:first-child {
    font-size: 24px;
    color: aliceblue;
}

.earthquake:hover {
    background-color: rgb(48, 113, 252);
    cursor: pointer;
    border-radius: 15px;
}

.earthquake-clicked {
    background-color: rgb(48, 113, 252);
    cursor: pointer;
    border-radius: 15px;
}

@media only screen and (max-width: 575.98px) {
    .earthquake {
        font-size: 14px;
        margin-top: 0px;
        padding: 2px;
    }

    .earthquake:first-child {
        margin-top: 5px;
    }
}
