.earthquakes {
    /* background-color: rgb(40, 141, 278); */
width: 100%;
height: 100%;
padding: 0;
margin: auto;

}

.earthquake {
    font-size: 17px;
    margin-top: 15px;
    padding: 5px;

}

.earthquake {
    font-size: 17px;
    margin-top: 15px;
    padding: 5px;

}

.earthquake p {
    display: inline;
    margin: 10px;
    
}

.earthquake p:first-child {
    font-size: 25px;
    color: aliceblue;
}

/* 

 */