html, body, #root {
  height: 100%;
}
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(42, 101, 228);
  color: #caeaca;
  height: 100%;
}


h3 {
  text-decoration: underline;
}

.big {
  font-size: xx-large;
}

.cont {
  outline: 1px solid black;
  height: 50%;
}

.getBtn {
  margin-top: 5rem;
}

.loading {
  margin-top: 25px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current {
  height: 100%;
}

@media only screen and (max-width: 991.98px) {
  .current-column {
    height: 60%;
  }
}
