/* html, body, #app, #app>div {
  height: 100%;
    background-color: rgb(42, 101, 228);
} */
.App {
  text-align: center; 
  font-family: 'Roboto', sans-serif;
  background-color: rgb(42, 101, 228);
  color: #caeaca;
  min-height: 100vh;
}


h3 {
  text-decoration: underline;
}

.big {
  font-size: xx-large;
}

.cont {
  outline: 1px solid black;
  height: 50%;
}