html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: rgb(42, 101, 228);
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #caeaca;
  height: 100%;
}


h3 {
  text-decoration: underline;
}

.big {
  font-size: xx-large;
}

.cont {
  outline: 1px solid black;
  height: 50%;
}

.loading {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current {
  height: 100%;
}

@media only screen and (max-width: 991.98px) {
  .current-column {
    height: 55%;
  }

  .second-column {
    height: 45%;
  }
}



.spin {
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
  height: 350px;
  margin: 0;
  padding: 0;
  
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@media only screen and (max-width: 991.98px) {
  .spin {
    height: 130px;
  }
}